langchain
langchain_community
langchain-openai
langchain-groq
python-dotenv
streamlit
langchain_classic
python-dotenv
transformers
accelerate 
torch 
torchvision 
pillow
diffusers
elevenlabs
sarvamai
sounddevice
scipy
streamlit-mic-recorder